<div class="jumbotron main_header">
    <div class="left-jumbotron">
    	<ul>
    		<li>Archive</li>
    		<li>What If?</li>
    		<li>Blag</li>
    		<li>Store</li>
    		<li>About</li>
    	</ul>
    </div>
    <div class="right-jumbotron">
    	<div class="logo-container">
	    	<span class="left-container">
	    		<%= image_tag src="xkcd-logo.png" %>
	    	</span>
	    	<span class="right-container">
		    	<p>A Developer of sarcasm,<br/>
		    	math, and language.</p>
		    </span>
	    </div>
    	<p class="tagline">Bryan Updates Everyday</p>
	</div>
</div>