<div class="container main">
	<div class="menu">
		<h1 class="menu-title">CHOTCHKIES RESTRAUNT</h1>
		<h2 class="menu-subtitle">APPETIZERS</h2>
		<ul>
			<% if @output.is_a? Array %>
				<% @output.each do |output| %>
					<li>
						<% output.each do |o| %>
							<p class="item-name"><%= o["name"] %> x <%= o["count"] %></p>
							<p class="item-cost">Per Item Cost: <%= o["cost"] %></p>
						<% end %>
					</li>
					<hr/>
				<% end %>
			<% else %>
				<li><%= @output %></li>
			<% end %>
		</ul>
	</div>
</div>