// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: 'XKCD';
	src: asset-url('xkcd-script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'XKCD';
	background-color: #96A8C8;
}
.main {
	background-color: #fafafa;
}
.menu {
	background-color: #edac97;
}
.menu-title {
	width: 40%;
	margin: 0 auto;
	text-align: center;
	background-color: #eeecdb;
	border: 1px solid #000;
}
input[type="file"] {
    display: none;
}
.import-file {
	border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}