// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
	font-family: 'XKCD';
	src: asset-url('xkcd-script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html, body {
	font-family: 'XKCD';
	background-color: #96A8C8;
	height: 100%;
}
.container-fluid {
	height: 100%;
}
.main, .menu {
	width: 60%;
    border: 2px solid #000;
    border-radius: 5px;
    min-height: 100%;
    height: 100%;

    hr {
		width: 80%;
	}

	ul {
		list-style-type: none;
		padding: 0;
	}

    h1, h4 {
    	text-align: center;
    }

    img {
    	max-width: 80%;
    	margin: 16px 10%;
    }

    form {
    	padding-left: 10%;
    }
}

.main {
	background-color: #fafafa;
}
.menu {
	background-color: #edac97;
	text-align: center; 

	.menu-title {
		width: 40%;
		margin: 8px auto;
		background-color: #eeecdb;
		border: 1px solid #000;
	}
	.item-name {
		font-weight:bold;
		font-size: 18px;
	}
}

.main_header {
	display: flex;
	background-color: #96A8C8;
	width: 60%;
	margin: 8px auto;
	padding: 0 !important;
	font-family: Lucida,Helvetica,sans-serif;

	.left-jumbotron, .right-jumbotron {
		flex: 1 0 auto;
		background-color: #fafafa;
		text-align: center;
		border: 2px solid #000;
		border-radius: 5px;

		ul {
			text-align: left;
			padding-left: 35%;
			font-size: 21px;
    		font-weight: 800;
			list-style-type: none;	
		}
	}

	.left-jumbotron {
		margin-right: 4px;
	}

	.right-jumbotron {
		margin-left: 4px;
	}	
}